* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
    background-color: rgb(32, 29, 29);
    color: rgb(169, 167, 167);
}
.HTML_Container {
    display: grid;
    /* justify-items: stretch; */
    align-content;

}

.Nav_Bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    /* justify-items: end; */
    /* grid-auto-rows: minmax(100px, auto); */
}

/* Change hobe */
.Nav_Barprofile img{
    width: 5em;
    border-radius: 50%;
    align-self: end;
}