* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
    background-color: rgb(32, 29, 29);
    color: rgb(169, 167, 167);
}

.Nav_Bar {
    display: inline;
}
.profile_pic img{
    width: 5em;
    border-radius: 50%;
    /* display: inline; */
}